h1{
    text-align: center;
    text-decoration: none;
    text-transform: none;
    text-shadow: 3px 3px 5px red;
}

p{
    text-align: left;
    text-indent: 50px;
    letter-spacing: normal;
    word-spacing: 5px;

}

a{
    text-decoration: none;
}